html{
    scroll-behavior: smooth;
}


.skills {
  text-align: right;
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white; }

.C {width: 90%; background-color: #2196F3;} 
.Python {width: 90%; background-color: #2196F3;} 
.HTML {width: 70%; background-color: #2196F3;} 
.CSS {width: 60%; background-color: #2196F3;}
.OpenCV{width: 60%; background-color: #2196F3;}

.Intro{
    text-align: center;
}
.Intro img{
    border-radius:9999px;
}

.resume{
    display:grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 2rem;
    
}

.divScroll {
    overflow:scroll;
    height:700px;
    background-color: lightcyan;
    
}
